<div class="navbar">
  <h4> Customer Questionnaire </h4>
</div>
<div class="main-content">
  <p> Welcome to Customer questionnaire on <b>Personal liability insurance</b></p>
  <p> Click on <b>'Continue'</b> button to enter Customer questionnaire</p>

  {{#link-to "question-content" class="btn btn-info"}}
    Continue
  {{/link-to}}
</div>