 body {
  margin: 0px;
  /* background-color: #24292e; */
}

.navbar {
  display: flex;
  justify-content: space-around;
  color: #24292e;
  background-color: #6081a3;
  color: white;
  border: 2em;
  border-color: #90beec;
  fill: white;
  align-items: flex-end;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #6081a3;
}


.main-content {
  padding: 20px;
}
.main-content button {
margin-top: 10%;
}

/* .main-content {
  padding: 20px;
} */
